.wrapper
  = render "posts/head"

.messages
  .messages_title
    = @post.text
  - @messages.each do |message|
    .message
      .upper-message
        = message.content
      .lower-message__user-name
        = message.user.name
      .lower-message__date
        = message.created_at.strftime("%Y/%m/%d %H:%M")
        
      



.form
  = form_for [@post, @message] do |f|
    .form__message
      = f.text_field :content, class: 'form__message__text', placeholder: '5・7・5で入力（文字数7~22)'
      = f.submit '送信', class: 'form__submit'
