.wrapper
  = render "posts/head"

.messages
  .message
    - @messages.each do |message|
      .upper-message
        .upper-message__user-name
          = message.user.name
        .upper-message__date
          = message.created_at.strftime("%Y/%m/%d %H:%M")
      .lower-message
        = message.content
      



.form
  = form_for [@post, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: '入力してね'
    = f.submit '送信', class: 'form__submit'
