.wrapper
  = render "posts/head"
  = render "posts/foot"

.today
  .today__title
    みんなの川柳
    %br
    いいねランキング
  .today__senryu
    - if user_signed_in?
      = link_to "川柳を投稿", new_text_path(current_user), class: 'btn5'
  .today__text
    - @all_ranks.each.with_index(1) do |text, i|
      .contents
        .content
          第 
          = i
          位 
          %br 
          = text.text
        - if user_signed_in?
          .syosai
            = link_to "詳細", text_path(text),class: "link1"
            -if text.user_id == current_user.id
              = link_to "編集", edit_text_path(text),class: "link1"
              = link_to text_path(text), method: :delete, data: { confirm: '本当に削除しますか？' },class: "link1" do
                %i.fas.fa-trash-alt
        -else
          .syosai
            = link_to "詳細", new_user_session_path
        .date
          = text.created_at  
        .iinecount
          いいね数：
          = text.iined_users.count