.wrapper
  = render "posts/head"
  = render "posts/foot"

.main
  .maintitle
    川柳チャット
    %br
    古い順
    /- @all_ranks.each do |post|
    - @posts.each do |post|
      .contents
        .content 
          = post.text
        .post-message
          = post.show_last_message
        .date
          = post.created_at  
        .comment
          = link_to "川柳チャットする", post_messages_path(post),class: "link2"
        .text  
          = link_to "いいね数", post_path(post),class: "link2"
          = post.liked_users.count
    .page
      = paginate(@posts)
