.wrapper
  = render "posts/head"
  = render "posts/foot"


.user-show
  .user-show__title
    ユーザー詳細ページ
  .user-show__mail
    メールアドレス:
    = @user.email
  .user-show__chat
    川柳チャットお題投稿内容

  - @user.posts.each do |post|
    %a{:href => "/posts/#{post.id}"}= post.text
    %hr/
  .user-show__iine
    いいねしてい川柳チャット
  - @user.liked_posts.each do |post|
    = post.text 
    %br

  .user-show__today
    今日の川柳投稿内容
  - @user.texts.each do |text|
    %a{:href => "/texts/#{text.id}"}= text.text
    %hr/
  .user-show__todayiine 
    いいねしている今日の川柳
  - @user.iined_texts.each do |text|
    = text.text
    %br
  %p
  = link_to "ホームへ戻る", root_path
