.head
  .title
    = link_to "川柳縛り", root_path(current_user), class: 'btn'
  .icon
    .icon1
      = link_to edit_user_path(current_user) do
        %div.btn= current_user.name
    .icon2
      = link_to "お題投稿", new_post_path(current_user), class: 'btn'

.sidehead
  .menu
    .menu1
      = link_to "お題一覧", root_path, class: 'btn'
    .menu2
      今日の川柳
    .menu3
      ランキング
    .menu4
      川柳チャット

