.main
  .maintitle
    お題一覧
    /- @all_ranks.each do |post|
    - @posts.each do |post|
      .contents
        .content 
          = post.text
        .date
          = post.created_at  
        .coment
          = link_to "川柳投稿", post_messages_path(post)
        .text  
          = link_to "いいね数", post_path(post)
        .like
          = post.liked_users.count
        .delete
          = link_to '削除', "/posts/#{post.id}", method: :delete


          
        
  
        
     
      

        
      

  