.wrapper
  = render "head"
  = render "foot"

.iine
  - if user_signed_in?
    - if current_user.already_liked?(@post)
      = link_to post_like_path(@post), method: :delete, id: "iine" do
        %i.fas.fa-heart
      #{@post.likes.count}
    - else
      = link_to post_likes_path(@post), method: :post, id: "iine2" do
        %i.far.fa-heart 
      #{@post.likes.count}
  .iineuser 
    いいねしたユーザー
  - @post.liked_users.each do |user|
    = user.name
  .home
    = link_to "ホームへ戻る", posts_path 


