.wrapper
  = render "posts/head"
  = render "posts/foot"

.today
  .today__title
    みんなの川柳
    %br
    新着順
  - if user_signed_in?
    .today__senryu
      = link_to "川柳を投稿", new_text_path(current_user), class: 'btn5'
  .today__text
    - @texts.each do |text|
      .contents
        .content 
          = text.text
        - if user_signed_in?
          .syosai
            = link_to "詳細", text_path(text)
            -if text.user_id == current_user.id
              = link_to text_path(text), method: :delete, data: { confirm: '本当に削除しますか？' } do
                %i.fas.fa-trash-alt
              
        -else
          .syosai
            = link_to "詳細", new_user_session_path
        .date
          = text.created_at.strftime("%Y/%m/%d %H:%M")
        .iinecount
          いいね数：
          = text.iined_users.count
    .page
      = paginate(@texts)
        
        



  