.wrapper
  = render "posts/head"
  = render "posts/foot"


.today-show
  .today-show__title
    今日の川柳投稿詳細ページ
  .today-show__user
    = @text.user.name
  .today-show__text
    = @text.text
  .today-show__count
    いいね件数: #{@text.iines.count}
    - if user_signed_in?
      - if current_user.already_iined?(@text)
        = button_to 'いいねを取り消す', text_iine_path(@text), method: :delete
      - else
        = button_to 'いいね', text_iines_path(@text)
  .doday-show__iineuser
    いいねしたユーザー:
    - @text.iined_users.each do |user|
      = user.name
  = link_to "今日の川柳一覧へ戻る", texts_path
